@keyframes highlight-button
  0%
    box-shadow: 0 0 0 $borderWidth $backgroundColor, 0 0 0 ($borderWidth + $borderWidthLg) $primaryColor
  50%
    box-shadow: 0 0 0 $borderWidth $backgroundColor, 0 0 0 ($borderWidth + $borderWidthLg) $tertiaryColor

.is-button
  border: none
  cursor: pointer
  outline: none
  position: relative
  &::after
    content: ''
    display: block
    top: 0
    left: 0
    width: 100%
    height: 100%
    transition: all 250ms
    opacity: 0
    box-shadow: 0 0 0 $borderWidth $backgroundColor, 0 0 0 0 $tertiaryColor
  &:active,
  &:focus
    &::after
      opacity: 1
      animation-delay: 250ms
      box-shadow: 0 0 0 $borderWidth $backgroundColor, 0 0 0 ($borderWidth + $borderWidth) $tertiaryColor
  &:hover
    &::after
      opacity: 1
      animation: highlight-button 1s infinite
      animation-delay: 250ms
      box-shadow: 0 0 0 $borderWidth $backgroundColor, 0 0 0 ($borderWidth + $borderWidthLg) $primaryColor
