@keyframes highlight-link
  0%
    color: $primaryColor
    border-color: $primaryColor
  50%
    color: $tertiaryColor
    border-color: $tertiaryColor

.is-link
  border-bottom: solid 1px $white
  display: inline-flex
  line-height: 1.3
  &:hover,
  &:active,
  &:focus
    animation: highlight-link 1s infinite
    color: $primaryColor
    border-color: $primaryColor
