<template>
  <div class="home">
    <section class="hero-section">
      <div class="hero-inner">
        <h1 class="title masthead">
          <span>Jordan Ranson</span>
        </h1>
        <h2 class="subtitle">
          <span>UI</span>
          <span>Web</span>
          <span>Apps</span>
          <span>Games</span>
        </h2>
      </div>
    </section>

    <section class="about-section">
      <section-title tag="h2">About me</section-title>
      <section-text></section-text>
    </section>
  </div>
</template>

<script>
import SectionText from '@/components/SectionText.vue'
import SectionTitle from '@/components/SectionTitle.vue'

export default {
  name: 'Home',

  components: {
    SectionText,
    SectionTitle
  }
}
</script>

<style lang="sass" scoped>

/*
 * Hero
 */

.hero-section
  height: 100vh
  display: flex
  align-items: center
  position: relative

.hero-inner
  text-align: right
  margin-left: -$pageMargin

.masthead
  font-size: $mastheadSize
  margin-bottom: $marginSm

.subtitle
  width: 100%
  font-size: 24px
  span:not(:last-child)
    &::after
      content: ' / '

/*
 * About
 */

.about-section
  margin: 0 0 $marginXLg 0
</style>
