<template>
  <section class="projects">
    <section-title>Project Title</section-title>
    <section-text />

    <div class="images">
      <div class="images-carousel">
        <project-image />
      </div>
      <div class="pagination">
        <paginator />
        <div class="pagination-buttons">
          <round-button></round-button>
          <round-button></round-button>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="footer-links">
        <a href="/" target="_blank"><span class="is-link">Website</span></a>
        <a href="/" target="_blank"><span class="is-link">GitHub</span></a>
        <a href="/" target="_blank"><span class="is-link">iOS</span></a>
      </div>
      <div class="footer-tags">
        <span>javascript</span>
        <span>video game</span>
      </div>
    </div>
  </section>
</template>

<script>
import SectionText from '@/components/SectionText.vue'
import SectionTitle from '@/components/SectionTitle.vue'
import Paginator from '@/components/Paginator.vue'
import RoundButton from '@/components/RoundButton.vue'
import ProjectImage from '@/components/ProjectImage.vue'

export default {
  name: 'Projects',

  components: {
    SectionText,
    SectionTitle,
    Paginator,
    RoundButton,
    ProjectImage
  }
}
</script>

<style lang="sass" scoped>
.projects
  padding-top: $pageTop
  margin-bottom: $marginXLg

.project-tiles
  width: calc(100% + #{$pageMargin + $marginSm})
  position: relative
  margin-left: -$pageMargin
  font-size: 0

.images
  margin: $margin 0
  display: flex

.images-carousel
  min-width: 100%

.pagination
  display: flex
  padding: $margin 0
  flex-direction: column
  padding-left: ($pageMargin - $buttonWidth)

.pagination-buttons
  font-size: 0
  margin-top: auto
  .round-button
    margin-top: ($buttonWidth / 3)

.footer
  width: 100%
  display: flex

.footer-links
  a
    display: inline-flex
    &:not(:last-child)::after
      content: ' · '
      display: inline-flex
      margin: 0 0.4em
      text-decoration: none
      color: $white !important
  span
    display: inline-flex

.footer-tags
  margin-left: auto
  span
    display: inline-flex
    &:not(:last-child)::after
      content: ', '
      display: inline-flex
      margin-right: 0.4em
</style>
