<template>
  <section class="projects">
    <section-title>Projects</section-title>
    <div class="project-tiles">
      <project-tile></project-tile>
      <project-tile></project-tile>
      <project-tile></project-tile>
      <project-tile></project-tile>
      <project-tile></project-tile>
      <empty-tile>
        <round-button :big="true"></round-button>
      </empty-tile>
    </div>
  </section>
</template>

<script>
import SectionText from '@/components/SectionText.vue'
import SectionTitle from '@/components/SectionTitle.vue'
import EmptyTile from '@/components/EmptyTile.vue'
import ProjectTile from '@/components/ProjectTile.vue'
import RoundButton from '@/components/RoundButton.vue'

export default {
  name: 'Projects',

  components: {
    SectionText,
    SectionTitle,
    EmptyTile,
    ProjectTile,
    RoundButton
  }
}
</script>

<style lang="sass" scoped>
.projects
  padding-top: $pageTop
  margin-bottom: $marginXLg

.project-tiles
  width: calc(100% + #{$pageMargin + $marginSm})
  position: relative
  margin-left: -$pageMargin
  font-size: 0
</style>
