<template>
  <footer class="app-footer">
    <div class="footer-left">
      <span>&copy; {{ new Date().getFullYear() }} Jordan Ranson</span>
    </div>
    <div class="footer-right">
      <a class="is-link" href="mailto:jordanranson@gmail.com">Contact Me</a>
    </div>
  </footer>
</template>

<style lang="sass" scoped>
.app-footer
  display: flex
  width: calc(100% + #{$pageMargin * 2})
  margin: $margin 0
  margin-left: -$pageMargin
  
.footer-right
  margin-left: auto
</style>
