<template>
  <div class="empty-tile">
    <div class="tile-inner">
      <div class="tile-slot">
        <slot />
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
.empty-tile
  display: inline-flex
  width: calc(33.33% - #{$marginSm})
  padding-top: calc(33.33% - #{$marginSm})
  margin: 0 $marginSm $marginSm 0
  position: relative
  &:nth-child(6n),
  &:nth-child(6n-1),
  &:nth-child(6n-2)
    transform: translateX($pageMargin)

.tile-inner
  top: 0
  left: 0
  width: 100%
  height: 100%
  position: absolute
  display: flex

.tile-slot
  margin: auto
</style>
