<template>
  <nav class="navbar">
    <div class="navbar-left">
      <navbar-link to="/">Jordan Ranson</navbar-link>
    </div>
    <div class="navbar-right">
      <slot />
    </div>
  </nav>
</template>

<script>
import NavbarLink from '@/components/NavbarLink.vue'

export default {
  name: 'Navbar',

  components: {
    NavbarLink
  }
}
</script>

<style lang="sass" scoped>
.navbar
  width: 900px
  margin-top: $margin
  margin-left: -$pageMargin
  z-index: 10
  position: fixed
  text-shadow: 0 1px 4px $backgroundColor

.navbar-left
  float: left

.navbar-right
  float: right
  a
    display: inline-block
    margin-left: $margin
</style>
