<template>
  <component
    :is="component"
    :to="to"
    :href="href"
    :target="target"
    class="navbar-link"
  >
    <slot />
  </component>
</template>

<script>
export default {
  name: 'NavbarLink',

  props: {
    to: {
      type: String
    },
    href: {
      type: String
    }
  },

  computed: {
    target () {
      return this.to ? undefined : '_blank'
    },

    component () {
      return this.to ? 'router-link' : 'a'
    }
  }
}
</script>

<style lang="sass" scoped>
.navbar-link
  cursor: pointer
  display: inline-block
  text-decoration: none
  position: relative
  &::after
    // content: ''
    display: block
    left: 0
    right: 0
    height: $borderWidth
    bottom: 0
    margin-top: $marginSm
    background: $primaryColor
</style>
