<template>
  <div class="paginator">
    <span class="counter">
      1 <span>/</span> 12
    </span>
  </div>
</template>

<style lang="sass" scoped>
.paginator
  display: flex
  width: $buttonWidth
  height: ($buttonWidth * 1.5)
  user-select: none
  background: rgba($secondaryColor, 0.5)

.counter
  margin: auto
  white-space: nowrap
  text-align: center
  transform: rotate(90deg)
  span
    color: $tertiaryColor
</style>
