<template>
  <div class="project-image">
    <div class="image-inner is-button"></div>
  </div>
</template>

<style lang="sass" scoped>
.project-image
  background: #d8d8d8
  width: calc(100% + #{$pageMargin})
  margin-left: -$pageMargin
  padding-top: 75%
  position: relative

.image-inner
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
</style>
