<template>
  <div class="project-tile">
    <div class="tile-inner">
      <router-link class="is-button" to="/"></router-link>
    </div>
  </div>
</template>

<style lang="sass" scoped>
$tileMargin: $borderWidth + $borderWidth + $borderWidthLg

.project-tile
  display: inline-flex
  width: calc(33.33% - #{$tileMargin})
  padding-top: calc(33.33% - #{$tileMargin})
  margin: 0 $tileMargin ($tileMargin - 2px) 0
  background: $secondaryColor
  position: relative
  &:nth-child(6n),
  &:nth-child(6n-1),
  &:nth-child(6n-2)
    transform: translateX($pageMargin)
  &:hover,
  &:active
    z-index: 1
  &:focus
    z-index: 2
  &:focus:hover
    z-index: 3

.tile-inner
  top: 0
  left: 0
  width: 100%
  height: 100%
  position: absolute
  box-shadow: 0 2px 11px darken($backgroundColor, 3)
  a
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
</style>
