<template>
  <button :class="{ 'round-button': true, 'is-big': big, 'is-button': true }">
    <slot />
  </button>
</template>

<script>
export default {
  name: 'RoundButton',

  props: {
    big: {
      type: Boolean
    }
  }
}
</script>

<style lang="sass" scoped>
.round-button
  width: $buttonWidth
  height: $buttonWidth
  border-radius: $bigButtonWidth
  background: $secondaryColor
  padding: 0
  box-shadow: 0 2px 11px darken($backgroundColor, 3)
  &::after
    border-radius: $bigButtonWidth
  &.is-big
    width: $bigButtonWidth
    height: $bigButtonWidth
</style>
