<template>
  <component :is="tag" class="title section-title">
    <slot>
      Lorem Ipsum Dolor Sit Amet
    </slot>
  </component>
</template>

<script>
export default {
  name: 'SectionTitle',

  props: {
    tag: {
      default: 'h1'
    }
  }
}
</script>

<style lang="sass" scoped>
.section-title
  font-size: $titleSize
  padding-bottom: $marginSm
  margin-bottom: $margin
  border-bottom: solid $borderWidthLg $primaryColor
  width: calc(100% + #{$pageMargin})
</style>
