<template>
  <p class="section-text">
    <slot>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin efficitur vehicula pretium. Pellentesque erat ligula, auctor ac elit vel, pellentesque viverra nisl. Sed nec mauris dignissim, vehicula metus ac, lobortis sapien. Morbi in eros sit amet nulla tincidunt sollicitudin. Proin ultrices mi tristique urna rhoncus, sed facilisis eros elementum.
    </slot>
  </p>
</template>

<style lang="sass" scoped>
.section-text
  margin: $margin 0
  line-height: 1.7
</style>
