<template>
  <div class="app">

    <navbar>
      <navbar-link to="/projects">Projects</navbar-link>
      <navbar-link href="//www.dribbble.com/jordanranson">Dribbble</navbar-link>
      <navbar-link href="//www.github.com/jordanranson">GitHub</navbar-link>
    </navbar>

    <main class="main">
      <router-view />
    </main>

    <app-footer />

  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'
import NavbarLink from '@/components/NavbarLink.vue'
import AppFooter from '@/components/AppFooter.vue'

export default {
  name: 'App',

  components: {
    Navbar,
    NavbarLink,
    AppFooter
  }
}
</script>

<style lang="sass">
@import '@/sass/reset.sass'
@import '@/sass/link.sass'
@import '@/sass/button.sass'
@import url('//fonts.googleapis.com/css?family=Roboto')

*
  box-sizing: border-box

html,
body
  color: $white
  background: $purple

body
  width: 100%
  min-height: 100vh
  font-size: $fontSize
  line-height: 1.3
  font-family: 'Roboto', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a:link,
a:visited
  color: $white
  text-decoration: none

.app
  width: 900px
  min-height: 100vh
  margin: 0 auto
  position: relative
  padding: 0 $pageMargin

.title
  font-weight: bold
  font-family: 'Avenir Next', 'Avenir', Helvetica, Arial, sans-serif
</style>
